<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_fragments.html :: head('Add Task')"></head>
<body>
<header th:replace="_fragments.html :: header('Add task') "></header>
<form action="/tasks/addTask" method="post" th:object="${task}" novalidate>
    <div class="formcontainer">
        <div class="container">
            <label for="title"><strong>Title</strong></label>
            <p th:errors="*{title}"></p>
            <input type="text" th:field="*{title}" name="title" id="title" required>

            <label for="description"><strong>Description</strong></label>
            <p th:errors="*{description}"></p>
            <input type="text" th:field="*{description}" id="description" name="description" required>

            <label for="date"><strong>Due date:</strong></label>
            <p th:errors="*{date}"></p>
            <input type="datetime-local" id="date" name="date" th:field="*{date}">
            <button type="submit">Add Task</button>
        </div>

    </div>
</form>
</body>
</html>