<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BDD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<form action="/editTask" method="post" th:object="${task}" novalidate>
    <h1>Edit task</h1>
    <div class="formcontainer">
        <hr/>
        <div class="container">
            <label for="title"><strong>Title</strong></label>
            <p th:errors="*{title}"></p>
            <input type="text" th:field="*{title}" name="title" id="title" required>

            <label for="description"><strong>Description</strong></label>
            <p th:errors="*{description}"></p>
            <input type="text" th:field="*{description}" id="description" name="description" required>

            <label for="date"><strong>Due date:</strong></label>
            <p th:errors="*{date}"></p>
            <input type="datetime-local" id="date" name="date" th:field="*{date}">
            <input type="hidden" th:field="*{uuid}" name="id">

        </div>
        <button type="submit">Save task</button>
    </div>
</form>
</body>
</html>