<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="_fragments.html :: head(#{page_title_all_tasks})"></head>
<body>
<header th:replace="_fragments.html :: header(#{page_title_all_tasks})"></header>
<div th:if="${!tasks.isEmpty()}">
    <table>
        <tr th:each="task: ${tasks}">
            <td>
                <p><span th:text="#{Title}"></span>:<span th:text="${task.title}"></span></p>
                <p><span th:text="#{Description}"></span>:<span th:text="${task.description}"></span></p>
                <p><span th:text="#{Due}"></span>:
                <span th:text="${task.getDateString()}"></span>
                </p>
                <a th:href="@{/tasks/__${task.getUuid()}__}">Details</a>
                <a th:href="@{/tasks/edit/__${task.getUuid()}__}" th:text="#{Edit_task}"></a>
                <a th:href="@{/tasks/__${task.getUuid()}__/sub/create}" th:text="#{add_subtask}"></a>
            </td>
        </tr>
    </table>
</div>
<div th:if="${tasks.isEmpty()}">
    <p th:text="#{notasksleft}"></p>
</div>
</body>
</html>
