<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_fragments.html :: head('Task Detail')"></head>
<body>
<header th:replace="_fragments.html :: header('Task Detail') "></header>
<div th:if="${task != null}">
    <table>
        <tr>
            <td>
                <p>Title: <span th:text="${task.title}"></span></p>
                <p>Description: <span th:text="${task.description}"></span></p>
                <p>Due date: <span th:text="${task.getDateString()}"></span></p>
                <div th:if="${!task.getSubtasks().isEmpty()}">
                    <table>
                        <h4>Subtasks:</h4>
                        <tr th:each="subtask: ${task.getSubtasks()}">
                            <td>
                                <p>Title: <span th:text="${subtask.getTitle()}"></span></p>
                                <p>Description: <span th:text="${subtask.getDescription()}"></span></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <p><a th:href="@{/tasks/__${task.getUuid()}__/sub/create}">Create subtask</a></p>
        </tr>
    </table>
</div>
<div th:if="${task == null}">
    <p> Task not found</p>
</div>
</body>
</html>