<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_fragments.html :: head(#{page_title_task_detail})"></head>
<body>
<header th:replace="_fragments.html :: header(#{page_title_task_detail})"></header>

<div th:if="${task != null}">
    <table>
        <tr>
            <td>
                <p><span th:text="#{Title}"></span> <span th:text="${task.title}"></span></p>
                <p><span th:text="#{Description}"> </span><span th:text="${task.description}"></span></p>
                <p><span th:text="#{due_date}"> </span><span th:text="${task.getDateString()}"></span></p>
                <div th:if="${!task.getSubtasks().isEmpty()}">
                    <table>
                        <h4 th:text="#{Subtasks}"></h4>
                        <tr th:each="subtask: ${task.getSubtasks()}">
                            <td>
                                <p th:text="#{Title}"><span th:text="${subtask.getTitle()}"></span></p>
                                <p th:text="#{Description}"><span th:text="${subtask.getDescription()}"></span></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <p><a th:href="@{/tasks/__${task.getUuid()}__/sub/create}" th:text="#{Create_subtask}"></a></p>
        </tr>
    </table>
</div>
<div th:if="${task == null}">
    <p> Task not found</p>
</div>
</body>
</html>
